<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Red A Stock</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="stylesheet" href="src/vendor/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="src/vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/vendor/css/sco.message.min.css">
  <link rel="stylesheet" href="src/css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="src/vendor/nanobar.min.js"></script>
  <script type="text/javascript" src="src/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="src/vendor/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="src/vendor/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="src/vendor/sco.message.min.js"></script>
  <script type="text/javascript" src="src/vendor/clipboard.min.js"></script>
  <script type="text/javascript" src="src/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="src/js/stock.js"></script>
  <script type="text/javascript" src="src/js/main.js"></script>
</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container voffset4">
    <div class="row">
      <div class="col col-2">
        <div class="pfbtn">
          <ul class="nav flex-column" id="profile_nav"></ul>
          <button id="btn_add_profile" class="btn btn-secondary btn-sm btn-block">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>

        <hr />
        <div class="form-group">
          <input type="checkbox" id="is_fund" name="is_fund"> 基金
          <textarea class="form-control input-sm" rows="8" id="sharenums"></textarea>
        </div>
      </div>

      <div class="col col-10">
        <div class="d-flex justify-content-between">
          <div id="last_update_card" class="card">
            <div class="card-block">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span id="last_update"></span>
            </div>
          </div>

          <div class="main_btns">
            <button class="btn btn-success" id="update_share">
              <i class="fa fa-refresh" aria-hidden="true"></i>
              更新数据
            </button>
            <button class="btn btn-info" data-toggle="modal" data-target="#neat_val_window">
              <i class="fa fa-file" aria-hidden="true"></i>
              输出净值
            </button>
            <button class="btn btn-danger" id="clear_current">
              <i class="fa fa-remove" aria-hidden="true"></i>
              清除本组
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 table-responsive" id="data_table_div"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="neat_val_window" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="syncLabel">
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            当前净值/市价
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="neat_val" readonly></textarea>
          <button class="btn btn-secondary btn-sm" id="neat_val_copy" data-clipboard-target="#neat_val">
            <i class="fa fa-copy" aria-hidden="true"></i>
            复制
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="chart" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>

</body>

<script type="text/template" class="template" id="tpl_profilobtn">
  <li class="nav-item" style="display: none;">
    <button data-pfid="<%- pfid %>" id="_pfbtn<%- pfid %>" class="btn btn-secondary btn-sm btn-block profile_btn">
      <i class="fa fa-th-large" aria-hidden="true"></i>
      组合<%- pfid %>
    </button>
  </li>
</script>


<script type="text/template" class="template" id="tpl_securityname">
    <% var href;
    if(type == 'fund') { href = "http://fund.eastmoney.com/"+code+".html"; }
    else if(type == 'stock') { href = "http://quote.eastmoney.com/"+code+".html"; } %>
    <a href="<%- href %>" data-type="<%- type %>" data-name="<%- name %>" data-code="<%- code %>" data-toggle="modal" data-target="#chart">
      <%- name %>
    </a>
</script>


<script type="text/template" class="template" id="tpl_stockchart">
    <% var r=Math.random(); %>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <a href="http://quote.eastmoney.com/<%- code %>.html" target="_blank"><%- name %></a>
      </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center"><img src="http://image.sinajs.cn/newchart/min/n/<%- code %>.gif?<%- r %>" /></div>
      <div class="d-flex justify-content-center"><img src="http://image.sinajs.cn/newchart/daily/n/<%- code %>.gif?<%- r %>" /></div>
    </div>
</script>

<script type="text/template" class="template" id="tpl_fundchart">
  <% var r=Math.random(); %>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <a href="http://fund.eastmoney.com/<%- code %>.html" target="_blank"><%- name %></a>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <img src="http://image.sinajs.cn/newchart/v5/fundpre/min/<%- code %>.gif?<%- r %>" />
    </div>
  </div>
</script>


</html>
